@sprite:'http://i.oxm1.cc/uploads/git/wurui/img/2a9h80do6Tj9v5181mRntkvA188-4065.png';
.oxmod-ctrip-icon-menu{
/* CSS */
	margin:3px;
	background-color: #fff;
	//box-shadow: 0 0 5px rgba(100, 100, 100, 0.3);
	//border-radius: 5px;
	padding:5px;
	>h3{
		font-weight: 400;
		font-size: 18px;
		padding:0 5px;
		line-height: 28px;
		height: 32px;
	}
	.icons{
		display: -webkit-flex;
		-webkit-justify-content:space-around;
	}
	.icon{
		display: inline-block;
		text-align: center;
		color:#666;
		width: 60px;
		font-size: 12px;
		img{
			-webkit-background-size: contain;
			width:34px;
			height:34px;
		}
	}
	.spot{
		float:right;
		background-color:#31b7f7;
		font-size:14px;
		color:#fff;
		padding:1px 26px;
		border-radius: 10px;
		height: 20px;
		line-height: 20px;
		background-repeat: no-repeat;
		background-image:url(@sprite),url(@sprite);
		background-position: 8px 4px,94% -48px;
		background-size: 16px;
	}
 }
